API_BASE_URL=https://zzz-josh-shakira.api.kustomerapp.com
API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYyYjRlMmE5N2UyZmE2YTE3Y2RlZWQ4MSIsInVzZXIiOiI2MmI0ZTJhOTQ2OWNiYjRlYmYxYjU1MjciLCJvcmciOiI2MWE3ZmJkMWNjNTM0ZmU4NzU5ZWUyMzAiLCJvcmdOYW1lIjoienp6LWpvc2gtc2hha2lyYSIsInVzZXJUeXBlIjoibWFjaGluZSIsInBvZCI6InByb2QxIiwicm9sZXMiOlsib3JnLmFkbWluLmFwcHMiLCJvcmcucGVybWlzc2lvbi5hcHBzIl0sImF1ZCI6InVybjpjb25zdW1lciIsImlzcyI6InVybjphcGkiLCJzdWIiOiI2MmI0ZTJhOTQ2OWNiYjRlYmYxYjU1MjcifQ.TlVzgyb4eVwoempWJMCP_re5EoogFvwW-Jm3FdOxgvI
